/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.llmdocs-heading-system {
	color: var(--color-cyan);
}

.llmdocs-heading-user {
	color: var(--color-green);
}

.llmdocs-heading-assistant {
	color: var(--color-cyan);
}

.llmdocs-footer {
	position: relative;
	display: block;
}

.llmdocs-complete-button {
	position: absolute;
	top: 100%;
	margin-top: 1em;
}

.llmdocs-loading-indicator {
	position: absolute;
	top: 100%;
	margin-top: 1em;
	opacity: 50%;
}
